
/*---------block Clients*/
.clients-section__title {
  margin: 0 auto 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-text-color;
}
.clients-section__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.clients-section__link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid $icon-no-activ;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  fill: $icon-no-activ;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-section__link:hover,
.clients-section__link:focus {
  border: 1px solid $active-color;
  fill: $active-color;
}

